<div class="container">
  <mat-toolbar>
    <span>Local Discogs</span>
  </mat-toolbar>

  <mat-expansion-panel id="locationPanel" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Choose Location
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <button mat-raised-button color="primary">Use Current Location</button>
    </div>

    <div>
      <label>Radius to search (km):</label>
      <mat-slider thumbLabel min="1" max="10" step="1" value="3"></mat-slider>
    </div>

    <app-leaflet-map></app-leaflet-map>

  </mat-expansion-panel>

  <mat-expansion-panel id="wantlistPanel" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Choose Wantlist
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form class="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Discogs username" value="">
      </mat-form-field>
      <mat-slide-toggle>Push notifications</mat-slide-toggle>
    </form>

  </mat-expansion-panel>
  <div class="container p-20">
    <button mat-raised-button color="primary">Search local stores</button>
  </div>
</div>