<div class="container">
  <mat-toolbar>
    <span>Local Discogs</span>
  </mat-toolbar>

  <app-location></app-location>

  <mat-expansion-panel id="wantlistPanel" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Choose Wantlist
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form class="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Discogs username" value="">
      </mat-form-field>
      <mat-slide-toggle>Push notifications</mat-slide-toggle>
    </form>

  </mat-expansion-panel>
  <div class="container p-20">
    <button mat-raised-button color="primary">Search local stores</button>
  </div>
</div>